body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

#canvas {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 1em;
}

#startbutton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    transition: background-color 0.3s ease;
}

#startbutton:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

.filter-label {
    margin: 10px;
}
